:root {
  --second-color: #fff;
}

body {
  background-color: #15202b;
}
.portfolio {
  background-color: #15202b;
}
.nav {
  background-color: #15202b;
}
.nav__menu {
  background-color: #15202b;
}
.l-header {
  background-color: #15202b;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    background-color: #1a3146;
  }